<div id="<%= dom_id channel %>">
  <p>
    <strong>Name:</strong>
    <%= channel.name %>
  </p>

  <p>
    <strong>Sensor type:</strong>
    <%= channel.sensor_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= channel.location %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= channel.device_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= channel.product_id %>
  </p>

  <p>
    <strong>Last entry timestamp:</strong>
    <%= channel.last_entry_timestamp %>
  </p>

</div>
